@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-primary: #ff56f6;
  --color-secondary: #406aff;
}




.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}
.contain{
background: #2a4c9b;
background: linear-gradient(90deg, rgba(42, 76, 155, 1) 0%, rgba(109, 87, 199, 1) 50%, rgba(181, 83, 237, 1) 100%);
}